<html>
<head>
  <style>
    .company{
      position:relative;
      width: 1000px;
      height: 900px;
      border: 1px #333 solid;
      margin: 10px auto;
    }
    .left-text{
      position:absolute;
      top: 5px;
      left: 10px;
    }
    .GG{
      height:50px;
      margin: 10px;
      border: 1px #000 solid;
    }
  </style>
</head>
<body>
  <div class="company" id="company">
    <p>公司簡介</p>
    <div style="overflow-y:scroll; width: 1000px; height: 850px;">
      <div v-for="(item, index) in list">
      <p>公司簡介: {{ item.id }}</p>
      <p>公司理念: {{ item.name }}</p>
      <p>媒體報導: {{ item.media }}</p>
      <p>薪資福利: {{ item.salary }}</p>
      <p>職缺:</p>
      <div v-for="each_job in item.job":id="'GG'":class="'GG'">
        {{ each_job }}
      </div>
    </div>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
<script>
var company = new Vue({
  el: '#company',
  data: {
    list: [
    ],
  },
});
company.list = [{ id: '123456789', name: '選項 1' , media: 'Hi', salary: '99999', job: ['aa22aaa','bbbbb','ccccc']}];

</script>
</body>
</html>
